---
const year = new Date().getFullYear();
---

<footer class="site-footer">
  <span>&copy; {year} Satvik</span>
  <span>
    <a href="/blog">writing</a>
    &middot;
    <a href="https://github.com/Satvik713" rel="me">github</a>
    &middot;
    <a href="https://www.linkedin.com/in/satvik-kumar-a45b26226/" rel="me">linkedin</a>
  </span>
</footer>
